<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta del Clima</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>🌦 Consulta el clima</h1>
    <form id="form">
        <input type="text" id="ciudad" placeholder="Escribe una ciudad..." required>
        <button type="submit">Buscar</button>
    </form>

    <div id="resultado"></div>

    <script src="/static/js/script.js"></script>
</body>
</html>
